UseColor: true

Checks: >
    -*,
    bugprone-*,
    cppcoreguidelines-pro-type-member-init

# default
# Checks: >
#     bugprone-*,
#     cppcoreguidelines-*,
#     google-*,
#     performance-*,

HeaderFilterRegex: ".*"

# WarningsAsErrors: "*"